<div>
  <nav ng-controller="buttonCtrl" id="nav-button" class="circular-menu" circleFanOut>

    <div class="circle">
      <a ui-sref="app.bots"><i class="icon ion-home"></i></a>
      <a ng-click="textAssist()"><i class="icon ion-chatbubbles"></i></a>
      <a ng-click="speech();"><i class="icon ion-mic-a"></i></a>

    </div>
    <!-- <a ng-click="buttonClick()" class="menu-button"><i class="icon ion-plus-circled"></i></a> -->
    <a ng-click="buttonClick()" class="menu-button"><img style="width:70px" src="./img/baymax-icon.png" class="icon"></img></a>
  </nav>
</div>
