<ion-view title="Baymax">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

	<ion-content class="padding">
		<div class="row padding">
			<div class="padding-40 row" ng-if="!vm.stack || !vm.stack.length">
				<h4 class="center-self text-center">"Hello, I am Baymax </br>your personal healthcare companion"</h4>
			</div>
		</div>
		<div class="row">
			<div class="col col-center">
				<div ng-repeat="moduleObject in vm.stack">
					<div directive="{{moduleObject.doc.type}}"></div>
				</div>
			</div>
		</div>
	</ion-content>

</ion-view>
